# Database

**What is a Database?**

- A database is an organized collection of data that allows users to efficiently store, access, and manipulate information. It includes both the data itself and the methods or processes to access and modify that data.
- A database system typically includes both **hardware** and **software** components to manage data effectively.

**SQL (Structured Query Language)**  
- SQL is the primary language used to interact with relational databases. It allows users to create, read, update, and delete data through structured queries.

**Data Models:**
Databases can follow different data models, which dictate how data is organized, stored, and retrieved. Some of the primary types include:

1. **Relational model**: The most common database model, which uses a table-based format to organize data and show relationships between data.

2. **Hierarchical model**: A tree-like structure that's good for simple relationship queries.

3. **Network model**: Good for complex relationship queries, and is used for data with many-to-many relationships.

4. **Object-oriented model**: Good for complex data structures and queries, and integrates principles from object-oriented programming.

5. **Inverted file model**: Uses the contents of data as keys in a lookup table, with values that point to the location of each instance of a content item.

6. **NoSQL**: Flexible for unstructured data.


**What is a Query?**

- A query is an SQL statement used to perform a task within a database, such as retrieving, inserting, updating, or deleting data.
- Queries can range from simple data retrieval commands to complex transactions involving multiple tables.

**Query Breakdown**

SQL queries are composed of several key components:
- **Clause**: Part of the SQL syntax that specifies an action, such as `SELECT`, `FROM`, or `WHERE`.
- **Keyword**: Reserved words that form the basis of SQL syntax, like `SELECT`, `INSERT`, `UPDATE`.
- **Identifier**: Names given to database objects, like table names and column names.
- **Condition**: A logical expression that determines which rows are selected or affected.
- **Expression**: A combination of columns, literals, and operators that define the data returned or modified.

Example Query:
```sql
SELECT CustomerName
FROM Customers
WHERE City = 'London';
```

In this query:
- `SELECT` and `FROM` are **clauses**.
- `CustomerName` and `Customers` are **identifiers**.
- `City = 'London'` is a **condition** that filters the data.

**Declarative Nature of SQL**

- SQL is a **declarative language**, meaning that it specifies *what* to do (e.g., retrieve data) rather than *how* to do it. This is different from imperative languages, where the exact steps of execution are defined.

### Disadvantages of Using Traditional Programming Languages for Database Manipulation:

1. **Complexity**: Programming languages require extensive code to handle data operations, especially for complex queries or data transformations.
2. **Performance**: SQL is optimized specifically for database operations, while programming languages may not perform as efficiently.
3. **Error-prone**: The detailed and procedural nature of programming languages increases the likelihood of bugs when handling database interactions.
4. **Maintenance**: Using traditional code for database manipulation can make maintenance harder, as it typically lacks the readability and straightforward syntax of SQL.

## DBMS-Based Approach

A **Database Management System (DBMS)** serves as an intermediary between data and the storage medium (hardware) where it is kept. DBMS software allows users to interact with data in a consistent way, regardless of the underlying storage method.

With DBMS, **SQL (Structured Query Language)** provides a unified language to communicate with the database without needing to know the storage details. This simplifies database operations and enhances data integrity and security.

### Functions of a DBMS (CRUD Operations)

DBMS software supports four primary operations, commonly referred to as **CRUD**:
- **C - Create**: Adding new records to a database.
- **R - Read**: Retrieving data from the database.
- **U - Update**: Modifying existing data in the database.
- **D - Delete**: Removing data from the database.

These operations form the core actions a user can perform, providing a complete set of tools to manage data within the DBMS.

---

## Relational Model in DBMS

The **Relational Model** is a popular database model where data is organized into tables, making it easier to understand and manipulate relationships between data entities. The key components and terminologies used in this model are:

1. **Tables**:
   - A table is the main structure that organizes data into rows and columns.
   - Each table typically represents a single type of entity (e.g., Customers, Products) and is uniquely named.

2. **Columns/Attributes**:
   - Columns represent the individual pieces of data, or attributes, for each record in the table.
   - For example, in a "Customers" table, columns might include `CustomerID`, `CustomerName`, and `City`.

3. **Degree**:
   - The degree of a table refers to the number of columns it contains.
   - For instance, a table with four columns (`CustomerID`, `Name`, `City`, `Email`) has a degree of 4.

4. **Domain/Constraint**:
   - A domain defines the allowed values for a particular attribute (e.g., a `Date` column only accepts date formats).
   - Constraints are rules enforced on the data to maintain accuracy and integrity. For example, a `NOT NULL` constraint ensures a column cannot have empty values.

5. **Tuples/Rows**:
   - A row, or tuple, represents a single record in the table, holding data for each column.
   - For instance, a row in the "Customers" table might represent one customerâ€™s data: (`1`, `Alice`, `New York`, `alice@example.com`).

6. **Cardinality**:
   - Cardinality indicates the number of rows in a table.
   - For example, if a "Customers" table has 1,000 rows, its cardinality is 1,000.

7. **Primary Key**:
   - A primary key is a unique identifier for each row in a table. It ensures that no two rows are identical.
   - For example, `CustomerID` could be the primary key in a "Customers" table, as each customer has a unique ID.

8. **Foreign Key**:
   - A foreign key is a field in one table that uniquely identifies a row in another table, creating a link between tables.
   - For instance, if a "Orders" table includes a `CustomerID` field, it can act as a foreign key referencing `CustomerID` in the "Customers" table, establishing a relationship between customers and their orders.

---

### Uses of the Relational Model:

1. **OLTP (Online Transaction Processing)**:
   - OLTP systems focus on managing transaction-oriented applications, typically used for day-to-day operations like customer order processing.
   - These systems prioritize quick and efficient CRUD operations, ensuring data integrity for high volumes of short, transactional queries.

2. **OLAP (Online Analytical Processing)**:
   - OLAP is used for complex data analysis, enabling users to extract insights from large datasets. This is typically used in data warehousing and reporting.
   - OLAP systems are optimized for read-heavy operations, allowing for fast aggregation, filtering, and computation over vast amounts of historical data.

Together, these elements and functions make the relational model highly versatile and powerful for managing structured data in various applications, from real-time transaction systems to long-term analytical reporting.

Login to postgres account:
```
sudo -u postgres psql postgres
```

Import databases:

1. Create a database (let's  use Valentina DB)
2.
```
psql -U postgres -h localhost -d Employees < employees.sql
```

## SQL Commands

SQL commands are categorized into four primary types: DDL, DQL, DML, and DCL. Each type serves specific purposes for defining, querying, modifying, or controlling access to data.

## 1. **DDL - Data Definition Language**

DDL commands are used to define, alter, and manage the structure of database objects such as tables, indexes, and schemas. These commands often cause changes to be automatically committed to the database.

### DDL Commands
1. **CREATE**  
   - Used to create new tables, indexes, views, and other database objects.
   - Example:
     ```sql
     CREATE TABLE employees (
         employee_id INT PRIMARY KEY,
         name VARCHAR(50),
         position VARCHAR(50),
         salary DECIMAL(10, 2)
     );
     ```

2. **ALTER**  
   - Modifies the structure of an existing database object, such as adding, dropping, or modifying columns in a table.
   - Example:
     ```sql
     ALTER TABLE employees ADD COLUMN department VARCHAR(50);
     ```

3. **DROP**  
   - Deletes an entire database object, such as a table or view. This action is irreversible.
   - Example:
     ```sql
     DROP TABLE employees;
     ```

4. **RENAME**  
   - Renames an existing database object, such as a table or column.
   - Example:
     ```sql
     ALTER TABLE employees RENAME TO staff;
     ```

5. **TRUNCATE**  
   - Removes all rows from a table without logging individual row deletions, thus being faster than `DELETE`.
   - Example:
     ```sql
     TRUNCATE TABLE employees;
     ```

6. **COMMIT**  
   - Confirms changes made by `DDL` statements and makes them permanent in the database.
   - Example:
     ```sql
     COMMIT;
     ```

## 2. **DQL - Data Query Language**

DQL commands are used to query and retrieve data from the database. The primary DQL command is `SELECT`.

### DQL Command
1. **SELECT**  
   - Retrieves data from one or more tables or views based on specified criteria.
   - Example:
     ```sql
     SELECT name, position FROM employees WHERE salary > 50000;
     ```

## 3. **DML - Data Modification Language**

DML commands are used to manipulate data within tables. These commands allow you to insert, update, delete, and merge data within the database.

### DML Commands
1. **INSERT**  
   - Adds new rows of data into a table.
   - Example:
     ```sql
     INSERT INTO employees (employee_id, name, position, salary) VALUES (1, 'John Doe', 'Manager', 75000);
     ```

2. **UPDATE**  
   - Modifies existing data within a table.
   - Example:
     ```sql
     UPDATE employees SET salary = 80000 WHERE employee_id = 1;
     ```

3. **DELETE**  
   - Removes one or more rows from a table based on specified conditions.
   - Example:
     ```sql
     DELETE FROM employees WHERE employee_id = 1;
     ```

4. **MERGE**  
   - Combines `INSERT` and `UPDATE` functionality, performing an update if a condition is met or an insert if not.
   - Example:
     ```sql
     MERGE INTO employees AS e
     USING (SELECT 1 AS employee_id, 'John Doe' AS name) AS new_data
     ON (e.employee_id = new_data.employee_id)
     WHEN MATCHED THEN
         UPDATE SET name = new_data.name
     WHEN NOT MATCHED THEN
         INSERT (employee_id, name) VALUES (new_data.employee_id, new_data.name);
     ```

5. **CALL**  
   - Executes a stored procedure.
   - Example:
     ```sql
     CALL increase_salaries(10);
     ```

6. **EXPLAIN PLAN**  
   - Shows the execution plan of an SQL query, useful for analyzing performance.
   - Example:
     ```sql
     EXPLAIN PLAN FOR SELECT * FROM employees WHERE salary > 50000;
     ```

7. **LOCK TABLE**  
   - Locks a table to control concurrent access by multiple users.
   - Example:
     ```sql
     LOCK TABLE employees IN EXCLUSIVE MODE;
     ```

## 4. **DCL - Data Control Language**

DCL commands are used to control access to data within the database by granting or revoking privileges to/from users or roles.

### DCL Commands
1. **GRANT**  
   - Provides specific privileges to a user or role.
   - Example:
     ```sql
     GRANT SELECT, INSERT ON employees TO user_name;
     ```

2. **REVOKE**  
   - Removes specific privileges from a user or role.
   - Example:
     ```sql
     REVOKE INSERT ON employees FROM user_name;
     ```

---

Each of these SQL command types plays a specific role in managing a database, from defining its structure to controlling access, ensuring that you can create, modify, retrieve, and secure data as needed.

Some example:

Change Column Name:
```
SELECT emp_no AS "Employee No.", birth_date AS "Bithday" FROM public.employees;
```
Column Concatenation:

`Note:Single quotes for characters and Double quotes for column names`
```
SELECT emp_no, CONCAT(first_name, ' ', last_name) AS "Name" FROM public.employees;
 ```

 `CONCAT` is a `scalar` function which runs through each row takes input and generates some output.

`Aggregate` function produces a summary for complete table.